/* -----------------------------------

  12. Sidebar

------------------------------------- */

#sidebar .widget:not(:last-child) {
  margin-bottom: 70px;
}

#sidebar .widget > p {
  font-size: 16px;
  line-height: 26px;
}

.widget:not(:last-child) {
  margin-bottom: 30px;
}

#sidebar .widget .widget-title {
  font-weight: bold;
}

.widget-title:not(:last-child) {
  margin-bottom: 30px;
}
