/* -----------------------------------

  5. Header

------------------------------------- */

.header.fixed-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // background: rgba(0, 0, 0, 0.05);
  // background-color: $color-primary-900;
  // background-color: $color-primary-900;
  background-color: transparent;
  z-index: 100;
}

.header.sticky-header.clone-fixed {
  position: fixed;
  transition: 0.5s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
  opacity: 0;
}

.header.fixed-header.sticky-header.clone-fixed {
  background: #ffffff;
}

.header {
  position: relative;
  top: 0;
  z-index: 9;
  width: 100%;
  background: transparent;
  background: #333;
}

.header .top-header {
  position: relative;
  padding: 30px 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header:not(.style-2):not(.style-3) .logo {
  position: absolute;
  top: 0;
  left: 60px;
  display: inline-block;
}

.header-btns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin: -15px -15px;
}

.header-btns > .head-btn {
  padding: 15px 15px;
}

.intro {
  // height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  height: 500px;

  &--home {
    height: 600px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      rgba($color-primary-100, 0.95),
      rgba($color-primary-100, 0.95)
    );
    z-index: -1;
  }
}
