/*----------- Pricing Tables --------------*/

.pricing-col {
  position: relative;
  overflow: hidden;
}

.pricing-table {
  text-align: center;
  height: 100%;
  padding: 66px 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: #f7f7f7;
  border-radius: 3px;
  color: #333;
}

.pricing-table.bg2 {
  background: #c9c9c9;
}

.pricing-table.bg3 {
  background: #565656;
}

.pricing-table.bg4 {
  background: #333;
}

.pt-header:not(:last-child) {
  margin-bottom: 26px;
}

.pt-header {
  color: #333;
  word-break: break-all;
}

.pt-type {
  font-size: 16px;
  text-transform: uppercase;
  color: #ef2245;
  letter-spacing: 1px;
}

.pricing-table.style-2 .pt-type {
  color: #754b75;
}

.pt-price {
  font-family: "Lora", sans-serif;
  font-size: 48px;
  color: #333;
  letter-spacing: -0.2px;
}

.pt-type,
.pt-price {
  line-height: 1.2em;
}

.popup-inner .pt-price {
  color: #e883ae;
}

.pt-type:not(:last-child) {
  margin-bottom: 18px;
}

.pt-period {
  font-size: 14px;
  color: #999;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.pt-disc {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: #e883ae;
}

.pt-lifetime {
  vertical-align: baseline;
}

.pricing-table .custom-list:not(:last-child) {
  margin-bottom: 40px;
}

.pricing-table .custom-list li.selected {
  color: #999;
}

.pt-header,
.pt-footer,
.pt-features-list {
  position: relative;
  z-index: 1;
}

.pt-footer p {
  color: #333;
  font-size: 14px;
}

.pt-footer .btn:not(:last-child) {
  margin-bottom: 20px;
}

.pt-title {
  text-transform: uppercase;
}

.pt-title:not(:last-child) {
  margin-bottom: 7px;
}

.pt-title.var2:not(:last-child) {
  margin-bottom: 27px;
}

.pricing-table .label {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 13px;
  line-height: 28px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  display: block;
  padding: 0 10px;
  position: absolute;
  background: #333;
  z-index: 2;
  width: 100%;
}

.pricing-table.bg3 .pt-price,
.pricing-table.bg4 .pt-price,
.pricing-table.bg4 .custom-list li,
.pricing-table.bg3 .custom-list li {
  color: #fff;
}

.pricing-table .custom-list li {
  font-size: 16px;
  line-height: 26px;
  color: #333;
}

.pricing-table .custom-list li.selected {
  color: #999;
}
