/*----------- Tables --------------*/

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

[class*="table-type"] table tr > th {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

[class*="table-type"] table tr > td,
[class*="table-type"] table tr > th {
  padding: 15px 25px;
  text-align: left;
  color: #777;
}

[class*="table-type"] table tr {
  -webkit-transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

[class*="table-type"] table tr:hover {
  background: #f7f7f7;
}

[class*="table-type"] table tr > th,
[class*="table-type"] table tr.bg-cell > * {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

[class*="table-type"] table tr.bg-cell > td,
[class*="table-type"] table tr.bg-cell > th {
  font-weight: bold;
}

[class*="table-type"] table tr > td,
[class*="table-type"] table tr > th {
  border-top: 1px solid #e0e0e0;
}

[class*="table-type"] table tr > td:first-child,
[class*="table-type"] table tr > th:first-child {
  border-left: 1px solid #e0e0e0;
}

[class*="table-type"] table tr > td,
[class*="table-type"] table tr > th {
  border-right: 1px solid #e0e0e0;
}

[class*="table-type"] table tr:last-child > td {
  border-bottom: 1px solid #e0e0e0;
}

[class*="table-type"] table tr.bg-cell > * {
  color: #b01933;
}

.table-type-2 tr:last-child > th {
  border-bottom: 1px solid #e0e0e0;
}

/* --------------- wp-calendar-event ----------------*/

.tribe-events-bar form > .row {
  margin: 0 -5px;
}

.tribe-events-bar form > .row > [class*="col"] {
  padding: 0 5px;
}

.tribe-events-bar:not(:last-child) {
  margin-bottom: 18px;
}

.tribe-events-bar form .btn.f-right {
  margin-left: 10px;
}

.tribe-events-bar .info-btn {
  color: #333;
}

.tribe-events-filters {
  position: relative;
  z-index: 2;
}

.tribe-events-filters-content {
  display: none;
}

.tribe-events-bar .mad-custom-select .mad-selected-option,
.tribe-events-bar .mad-custom-select .mad-options-list li {
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
}

.tribe-events-bar .mad-custom-select .mad-selected-option:before,
.tribe-events-bar .mad-custom-select .mad-options-list li:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 16px;
  left: 18px;
  top: 50%;
  margin-top: -8px;
  background: url(../images/15x16_icon2.png) no-repeat;
}

.tribe-events-bar .mad-custom-select .mad-selected-option:before {
  margin-top: -4px;
}

.tribe-events-bar .mad-custom-select .mad-options-list li:nth-child(1):before {
  background: url(../images/15x16_icon1.png);
}

.tribe-events-bar .mad-custom-select .mad-options-list li:nth-child(2):before {
  background: url(../images/15x16_icon3.png);
}

.tribe-events-bar .mad-custom-select .mad-options-list li:nth-child(3):before {
  background: url(../images/15x16_icon4.png);
}

.tribe-events-bar .mad-custom-select .mad-options-list li:nth-child(4):before {
  background: url(../images/15x16_icon5.png);
  width: 12px;
}

.tribe-events-bar .mad-custom-select .mad-options-list li:nth-child(5):before {
  background: url(../images/15x16_icon6.png);
}

.tribe-events-filters-content .flex-row label {
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.tribe-events-filters-content label {
  text-transform: uppercase;
}

.tribe-events-filters.show-filter #tribe_events_filters_toggle {
  display: none;
}

.tribe-events-filters.show-filter .tribe-events-filters-content {
  display: block;
}

.tribe-filter-control {
  margin: 0 -15px;
}

.tribe-filter-control > * {
  margin: 0 15px;
  position: relative;
}

.tribe-filter-control > *:not(:last-child):after {
  content: "";
  height: 13px;
  width: 1px;
  background: #dadada;
  position: absolute;
  right: -16px;
  top: 50%;
  margin-top: -6px;
}

.tribe-events-filters-content > form {
  margin: 0 -20px 0;
  font-size: 0;
}

.tribe_events_filter_item {
  font-size: 16px;
  display: inline-block;
  position: relative;
  padding: 0 25px 0;
}

.tribe-events-filters-label {
  font-weight: 900;
  color: #777;
  text-transform: uppercase;
}

.tribe-events-filter-checkboxes {
  top: 100%;
  left: 50%;
  min-width: 185px;
  background: #630e1d;
  padding: 8px;
  margin-top: 5px;
  position: absolute;
  display: none;
  z-index: 2;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tribe-events-filter-checkboxes:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #630e1d;
  border-top: none;
  bottom: 100%;
  left: calc(50% - 6px);
}

.tribe_events_filter_item.active .tribe-events-filter-checkboxes {
  display: block;
}

.tribe-events-filter-checkboxes .mad-custom-select .mad-selected-option {
  background: #fff;
  border-color: #fff;
  height: 39px;
  line-height: 26px;
  padding: 5px 20px;
  font-size: 15px;
}

.tribe-events-filter-checkboxes .mad-custom-select .mad-selected-option:before {
  font-size: 14px;
  line-height: 39px;
}

.tribe-events-filter-checkboxes .mad-custom-select .mad-options-list {
  font-size: 15px;
  background: #fff;
}

.tribe_events_filter_item .tribe-events-filters-group-heading {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #333;
  font-style: normal;
  position: relative;
  cursor: pointer;
  padding-right: 12px;
  line-height: 28px;
}

.tribe_events_filter_item .tribe-events-filters-group-heading:not(:last-child) {
  margin-bottom: 0;
}

.tribe_events_filter_item .tribe-events-filters-group-heading:after {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 12px;
  content: "\e85d";
  font-family: "Fontello";
}

.tribe_events_filter_item.active .tribe-events-filters-group-heading:after {
  content: "\e85a";
}

table.tribe-events-calendar {
  border: 1px solid #e0e0e0;
}

table.tribe-events-calendar thead tr th {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 13px;
}

table.tribe-events-calendar tr td {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
}

table.tribe-events-calendar tr td.time {
  padding: 13px;
}

table.tribe-events-calendar tr td:not(:first-child),
table.tribe-events-calendar tr th:not(:first-child) {
  border-left: 1px solid #e0e0e0;
}

.tribe-events-calendar tr td .tribe-events-category-tech-events {
  padding: 40px 13px 26px;
  line-height: 22px;
  position: relative;
  transition: all 0.4s ease;
}

.tribe-events-calendar tr td .tribe-events-category-tech-events:hover {
  background: #b01933;
  color: #fff;
}

.tribe-events-calendar
  tr
  td
  .tribe-events-category-tech-events:hover
  .tribe-title {
  color: #fff;
}

.tribe-events-calendar
  tr
  td
  .tribe-events-category-tech-events
  .tribe-title:hover {
  text-decoration: underline;
}

.tribe-events-category-tech-events .tribe-events-tooltip {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-left: -2px;
  padding: 20px;
  background: #fff;
  color: #777;
  text-align: left;
  width: 420px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;

  transition: all 0.4s ease;

  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
}

.tribe-events-category-tech-events .tribe-events-tooltip:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-top: 10px solid #fff;
  border-right: 9px solid transparent;
  top: 100%;
  left: 30px;
  margin-left: -7px;
}

.tribe-events-category-tech-events:hover .tribe-events-tooltip {
  opacity: 1;
  visibility: visible;
}

.tribe-events-category-tech-events
  .tribe-events-tooltip
  header:not(:last-child) {
  margin-bottom: 10px;
}

.tribe-events-category-tech-events .tribe-events-tooltip h6 {
  font-size: 18px;
  font-weight: normal;
}

.tribe-events-category-tech-events .tribe-events-tooltip h6:not(:last-child) {
  margin-bottom: 0;
}

.tribe-events-category-tech-events .tribe-events-tooltip time {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

.tribe-events-category-tech-events .tribe-events-tooltip,
.tribe-events-category-tech-events .tribe-events-tooltip p {
  font-size: 13px;
  line-height: 20px;
}

.tribe-events-category-tech-events .tribe-events-tooltip img.alignleft {
  margin-right: 15px;
  margin-bottom: 0;
}

.tribe-events-calendar tr td .tribe-events-daynum {
  padding: 0 10px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  background: #f7f7f7;
  border-width: 1px 0 1px;
  border-style: solid;
  border-color: #e0e0e0;
}

.tribe-events-calendar tr td .tribe-events-daynum.next-month a {
  color: #999;
}

table.tribe-events-calendar.var2 tr td {
  vertical-align: top;
  text-align: left;
}

.tribe-events-calendar tr td .tribe-events-category-tech-events {
  padding: 0;
}

.tribe-events-calendar tr td .tribe-events-category-tech-events > a {
  font-family: "Lora", serif;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  line-height: 22px;
  padding: 14px 20px;
  display: block;
}

.tribe-events-calendar tr td .tribe-events-category-tech-events:hover > a {
  color: #fff;
}

.tribe-events-calendar tr td .tribe-events-category-tech-events:hover > a {
  border-bottom-color: #75c1b2;
}

.tribe-events-calendar tr td .tribe-events-category-tech-events > a:hover {
  text-decoration: underline;
}

.tribe-events-calendar
  tr
  td
  .tribe-events-category-tech-events
  > a:not(:first-child) {
  border-top: 1px solid rgba(228, 228, 228, 1);
}

.tribe-events-calendar
  tr
  td
  .tribe-events-category-tech-events:hover
  > a:not(:first-child) {
  border-top-color: rgba(228, 228, 228, 0.2);
}

.tribe-events-calendar tr td .tribe-events-category-tech-events.next-month > a {
  opacity: 0.6;
}
