/* Video section */

.video-holder {
  position: relative;
  display: block;
}

.video-holder img {
  width: 100%;
}

.video-holder .video-btn {
  position: absolute;
  display: block;
  top: 50%;
  border: 2px solid #fff;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  margin-left: -50px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 90px;
  z-index: 2;
}

.video-holder .video-btn:after {
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
  margin-left: 10px;
  border-top: 20px solid transparent;
  border-left: 31px solid #fff;
  border-bottom: 20px solid transparent;
}
