/* ==================

 Color Variables

================== */

$color-primary-900: #4d630d;
$color-primary-700: #81a419;
$color-primary-500: #afd04d;
$color-primary-300: #dfecb6;
$color-primary-100: #f2f7e3;

$color-gray-900: #464842;
$color-gray-700: #82857a;
$color-gray-500: #c4c5be;
$color-gray-300: #e4e5e1;
$color-gray-100: #f3f3f1;
